<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hs.testone.dao.order.OrderMapper">


    <select id="findOrderById" parameterType="java.lang.String" resultType="java.util.HashMap">
		select pid,
		`name`,
		order_no,
		order_time from t_order_info where pid = #{id}
    </select>


</mapper>